@cell-width: 40px;
@cell-height: 40px;
@color-border: #000;
@color-background: #fdfaf5;

.gbf-calendar{
    width: @cell-width * 7 + 8px;
    background: @color-background;

    * {
        box-sizing: content-box;
    }
} 

.month-title{
    height: @cell-height;
    line-height: @cell-height;
    border: 1px solid @color-border;
    text-align: center;
    cursor: pointer;
    background-color: #ffe4b7;
    color: #f2eee2;
    text-shadow: 0px 0px 1px #150f0f, 0px 0px 1px #150f0f, 0px 0px 1px #150f0f, 0px 0px 2px #150f0f, 0px 0px 2px #150f0f, 0px 0px 2px #150f0f;
}

.week-row {
    position: relative;

    .days-row {
        display: flex;
    
        >div {
            width: @cell-width;
            text-align: center;
            height: @cell-height;
            line-height: @cell-height;
            border-style: solid;
            border-color: @color-border;
            border-width: 0 0 1px 1px;
            cursor: pointer;
            
            &.has-event {
                background: #ff8383;
            }

            &:last-child{
                border-right-width: 1px;
            }

            &.disable{
                cursor: auto;
            }

            &.selected{
                box-shadow: 0 1px #000 inset, 0 -1px #000 inset, 1px 0 #000 inset, -1px 0 #000 inset;
            }

            &.today{
                font-weight: bold;
                color: blue;
            }
        }
    }

    .days-row.title {
        >div {
            height: @cell-height/3*2;
            line-height: @cell-height/3*2;
            cursor: auto;
        }
    }

    .detail {
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: calc(100% - 2px);
        // min-height: @cell-height + 2px;
        background: @color-background;
        border: 1px solid @color-border;
        z-index: 10;

        >div {
            padding: 0.4em 0.5em 0.3em;
        }

        .detail-row {
            position: relative;
            padding-left: 1.5em;

            .index {
                position: absolute;
                width: 1em;
                text-align: center;
                top: 0;
                left: 0;
            }

            .title.today {
                font-weight: bold;
            }

            .time-range {
                font-size: 90%;
                color: blue;
                .time {
                    font-size: 85%;
                    color: grey;
                    margin-left: .3em;
                }
            }
        }
    }
}

